@font-face {
    font-family: 'Tapioca';
    src: url('./Tapioca.woff2') format('woff2'), url('./Tapioca.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tapioca Shadow';
    src: url('./TapiocaShadow.woff2') format('woff2'), url('./TapiocaShadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* START CSSRESET */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button, input[type="submit"] {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: none;
}

* {
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: "Tapioca", sans-serif;
    overflow-x: hidden;
}

ul, ol {
    padding-left: 0.8em;
    margin-bottom: 1.5em;
}

img {
    max-width: 100%;
}

header, footer {
    background: #f9f7b9;
    min-height: 10vh;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    padding: 1vh;
}

header img {
    max-height: 9vh;
    width: auto;
}

footer {
    padding: calc(1vw + 30px) 1vw;
}

section {
    min-height: 45vh;
    padding: calc(10px + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

section:first-child {
    margin-top: 10vh;
}

section>div {
    max-width: 1200px;
    width: 100%;
}

.anchor {
    position: absolute;
    top: -10vh;
}

.trigger {
    width: calc(10px + 5vh);
    height: calc(10px + 5vh);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: black;
    color: white;
    position: absolute;
    cursor: pointer;
}

.trigger i {
    position: absolute;
    font-size: calc(1em + 0.5vh);
}

#language {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: #f9f7b9;
    border-top-left-radius: 20px;
    z-index: 10;
}

#language span {
    padding: 5px;
    cursor: pointer;
}

#lang-en #en, #lang-es #es, #lang-kr #kr {
    text-decoration: underline;
}

.lang-container {
    display: none;
}

#lang-en #en-ver, #lang-es #es-ver, #lang-kr #kr-ver {
    display: block;
}

#cavelink {
    right: 2vw;
    background: #ed8450;
    background-image: url(./guitarguy.png);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

#navtrigger {
    left: 2vw;
    background: #fcbc3b;
    color: black;
}

#navtrigger i {
    transition: all 400ms ease-in-out;
}

#navtrigger .fa-times, .nav-open #navtrigger .fa-bars {
    opacity: 0;
    transform: rotate(360deg) scale(0.01);
}

.nav-open #navtrigger .fa-times, #navtrigger .fa-bars {
    opacity: 1;
    transform: rotate(0deg);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f7b9e8;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms ease-in-out;
}

.nav-open nav {
    opacity: 1;
    pointer-events: initial;
}

nav hr {
    width: 100px;
}

#caveintro {
    background: #508e3d;
}

#caveintro h1 {
    color: #f9f7b9;
    font-size: calc(2em + 3vw);
    max-width: 33%;
    text-align: center;
    line-height: 1.25em;
}

#caveintro>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#caveintro>div>* {
    flex-basis: 33%;
    text-align: center;
}

#caveintro .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 3vw;
}

#caveintro .btns a, nav a, .btn {
    color: black;
    text-decoration: none;
    background: #fcbc3b;
    border-radius: 5px;
    display: inline-block;
    font-size: calc(1em + 1.5vw);
    padding: 8px 8px 2px;
    margin: 5px 0;
}

#cavedeviltown {
    background: #95b1d1;
}

#cavedeviltown>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cavedeviltown>div>div {
    flex-grow: 1;
    padding: 2vw;
    font-size: calc(1em + 1vw);
    line-height: 1.25em;
}

#cavedeviltown img {
    padding: 2vw;
}

#cavehome {
    background: #ed8450;
}

#cavehome>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cavehome>div>div {
    font-size: calc(1em + 1vw);
    padding: 1vw;
    line-height: 1.15em;
}

#cavequestions {
    background: #fcbc3b;
}

#cavequestions h2 {
    font-size: calc(1em + 2vw);
    margin-bottom: 1em;
}

#cavequestions p {
    font-size: calc(1em + 0.5vw);
    line-height: 1.25em;
    margin: 1em 0;
}

#cavequestions strong {
  font-size: 1.5em;
  margin-bottom: 0.1em;
  display: inline-block;
}


/* buttons */
.btn {
    font-size: 1em;
  }
  
  #cavehome .btn {
    background: #faf8c1;
  }
  
  #cavedeviltown .btn {
    background: #ec1b26;
  }
  

/* mobile */
@media only screen and (max-width: 600px) {
    #caveintro > div > * {
        flex-basis: 50%;
        flex-grow: 1;
    }

    #caveintro > div > h1 {
        flex-basis: 50%;
        font-size: 11vw;
        max-width: unset;
    }

    #caveintro > div > .introguy {
        flex-basis: 35%;
        flex-grow: 0;
    }

    #caveintro .btns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #caveintro .btns a {
        margin: 10px;
        font-size: calc(1em + 1.5vw);
        padding: 4px 4px 1px;
        white-space: nowrap;
    }

    .btns>span {
        flex-basis: 45%;
        text-align: left;
    }

    #cavedeviltown > div, #cavehome > div {
        flex-direction: column;
    }

    #cavedeviltown > div > div, #cavehome > div > div {
        font-size: calc(1em + 2vw);
    }

    #cavedeviltown img, #cavehome img{
        margin-bottom: calc(10px + 1vw);
        order: -1;
    }
}