@font-face {
    font-family: 'Tapioca';
    src: url('Tapioca.woff2') format('woff2'),
        url('Tapioca.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tapioca Shadow';
    src: url('TapiocaShadow.woff2') format('woff2'),
        url('TapiocaShadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

